* {
    font-family: "Open Sans", sans-serif;
}

/* Colours
#0d1b2a
#1b263b
#415a77
#778da9
##e0e1dd
*/

body {
    line-height: 1.6;
    background-color: #0d1b2a;
    color: #e0e1dd;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #0e0039,  #060a88); /* Dark blue to lighter blue */
    min-height: 100vh;
}

header {
    text-align: center;
    padding: 20px;
    background-color: #020c2b;
    color: #e0e1dd;
}

.background-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the video fills the screen without stretching */
    z-index: -1; /* Puts the video behind all other content */
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 90%;
    margin: 0 auto;
    padding-top: 50px;
}

.home-text {
    flex: 1;
    max-width: 60%;
    margin-left: 10%;
}

.home-text h1 {
    font-size: 50px;
    font-weight: bold;
    font-family: Doto;
    margin-bottom: 10px;
}

.home-text h2 {
    font-size: 24px;
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #e0e1dd;
    margin-bottom: 20px;
}

.home-text blockquote {
    font-style: italic;
    font-size: 24px;
    color: #0d1b2a;
    margin-bottom: 20px;
}

.home-role {
    display: inline-block;
    color: #e0e1dd; /* Change this to your desired color */
    margin-right: 5px; /* Space between role and place */
}

.home-place {
    display: inline-block;
    color: #778da9; /* Change this to your desired color */
    text-decoration: none; /* Remove underline from the link */
}

.home-text p {
    font-size: 20px;
    margin-bottom: 10px;
}

.home-text a {
    color: #66ccff;
    text-decoration: none;
    margin-bottom: -5px;
}

.home-text a:hover {
    text-decoration: underline;
}

/* Image Section Styling */
.home-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-image img {
    max-width: 100%;
    border-radius: 300px;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4); */
}

header h1, footer p {
    margin: 0;
}

.about-me {
    display: flex;
    align-items: center; /* Center align vertically */
    padding: 10px 10%; /* Add padding around the section */
    margin-bottom: 30px;
}

.about-text h2 {
    flex: 1; /* Allow the text to take up remaining space */
    font-family: Doto;
    font-size: 44px;
    padding-right: 20px; /* Add padding to the right of the text */
    margin: 0; /* Remove default margin */
    line-height: 1.2; /* Adjust line height to tighten spacing */
}

.about-text p {
    flex: 1; /* Allow the text to take up remaining space */
    padding-right: 20px; /* Add padding to the right of the text */
}

nav a {
    color: #e0e1dd;
    text-decoration: none;
    padding: 0 10px;
}

nav a:hover {
    text-decoration: underline;
}

.center-image img {
    max-width: 100%;
    height: auto;
    display: flex;
    margin: 10%;
    border-radius: 8px;
}

.center-video {
    display: flex;
    justify-content: center;  /* Horizontally centers the video */
    align-items: center;      /* Vertically centers the video */
    margin: 20px auto;       /* Adds vertical spacing and centers the div */
}

.center-video video {
    max-width: 100%;         /* Ensures the video scales responsively */
    height: auto;            /* Maintains the aspect ratio */
}

figcaption {
    text-align: center;
    font-style: italic;
    margin-top: 5px;
    color: #e0e1dd; /* Change color as desired */
}

#backToTopBtn {
    position: fixed;
    top: 20px;
    left: 20px;
    padding: 10px 15px;
    font-size: 25px;
    background-color: #0e0039;
    color: #e0e0e0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: none; /* Initially hidden */
    transition: opacity 0.3s ease;
}

#backToTopBtn:hover {
    background-color: #0e0039;
}

.button-container {
    display: flex;
    gap: 15px;
    justify-content: right;
}

.animated-button {
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    padding: 12px 24px;
    font-size: 16px;
    color: #ffffff;
    background-color: #001a39;
    border-radius: 8px;
    font-weight: bold;
    text-decoration: none;
    transition: transform 0.2s ease, background-color 0.3s ease;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.animated-button:hover {
    background-color: #415a77;
    transform: scale(1.05);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3);
}

.animated-button:active {
    transform: scale(0.98);
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
}

#project-image img {
    max-width: 60%;
    height: auto;
    display: block;
    margin: 20px auto;
    border-radius: 8px;
}

.project-text h1 {
    font-size: 60px;
    font-weight: bold;
    justify-content: left;
    margin-bottom: 10px;
    margin-left: 5%;
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columns */
    gap: 20px; /* Space between grid items */
    padding: 5%; /* Padding around the grid */
}

.project {
    background-color: #0e0039; /* Background color for project items */
    /* border: 1px solid #415a77; Border around project items */
    border-radius: 8px; /* Rounded corners */
    padding: 10px; /* Padding inside project items */
    text-align: center; /* Center the text */
}

.project img {
    width: 100%; /* Make images responsive */
    height: auto; /* Maintain aspect ratio */
    aspect-ratio: 12/7;
    object-fit: cover; /* Maintain aspect ratio and fill the area */
    border-radius: 8px; /* Rounded corners for images */
}

.project-link {
    display: inline-block; /* Button-like appearance */
    margin-top: 10px; /* Space above the link */
    padding: 10px 15px; /* Padding for link */
    /* background-color: #007BFF; Background color for the button */
    color: #e0e1dd; /* Text color */
    text-decoration: none; /* No underline */
    border-radius: 5px; /* Rounded corners */
}

.project-link:hover {
    background-color: #060a88; /* Darker shade on hover */
}

.text-content {
    max-width: 80%;
    /* display: flex; */
    text-align: left;
    margin-top: 20px;
    margin-left: 10%;
    color: #e0e1dd; /* Text color */
}

.text-content h1 {
    font-family: Doto;
    font-size: 3em;
    font-weight: bold;
    text-align: center;
    color: #e0e1dd; /* Header color */
    margin-bottom: 10px;
}

.text-content h2 {
    font-family: Doto;
    font-size: 2em;
    font-weight: bold;
    color: #e0e1dd; /* Header color */
    margin-bottom: 10px;
}

.text-content h3 {
    font-family: Doto;
    font-size: 1em;
    font-weight: bold;
    color: #e0e1dd; /* Header color */
    margin-bottom: 10px;
}

.text-content p {
    font-size: 1em;
    line-height: 1.6;
    color: #e0e1dd; /* Body text color */
    margin-bottom: 15px;
}

.skills-section {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.skills-subsection {
    width: 45%;
}

.skills-subsection h3 {
    color: #e0e1dd;
    margin-bottom: 10px;
}

.skills-subsection ul {
    list-style-type: none;
    padding: 0;
}

.skills-subsection li {
    background: #0e0039;
    padding: 5px;
    margin: 5px 0;
    border-radius: 5px;
}

.pdf-container {
    display: flex;
    justify-content: center; /* Center the PDF in the container */
    width: 100%; /* Full width of the viewport */
    padding-top: 20px;
    padding-bottom: 20px;
    overflow: hidden; /* Prevents horizontal overflow */
}

embed {
    border: 1px solid #0e0039; /* Optional border */
    border-radius: 8px; /* Optional rounded corners */
}

footer p {
    margin: 0px;
    width: 100%;
    text-align: center;
    /* background-color: #0e0039; */
    background: linear-gradient(to bottom, #030b52, #020830); /* Dark blue to lighter blue */
}

.social-icon {
    color: white;
    text-decoration: none;
    font-size: 24px; /* Adjust icon size */
    margin: 0 10px; /* Spacing between icons */
    transition: color 0.3s;
}

.social-icon:hover {
    color: #0077b5; /* Change to LinkedIn blue or any color on hover */
}

/* Media query for mobile */
@media (max-width: 768px) {
    .center-image img {
        max-width: 80%; /* Adjust image width for smaller screens */
        margin: 15px auto; /* Adjust margin for better spacing */
        border-radius: 5px; /* Reduce border radius for mobile */
    }
}

/* Media query for mobile */
@media (max-width: 768px) {
    .home-image img {
        max-width: 90%; /* Adjust to control image size on smaller screens */
        border-radius: 50px; /* Smaller border radius for mobile */
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); /* Adjust shadow intensity for mobile */
    }
}

/* Responsive design for project grid */
@media (max-width: 768px) {
    .project-grid {
        grid-template-columns: repeat(2, 1fr); /* Change to 2 columns on smaller screens */
    }
}

@media (max-width: 480px) {
    .project-grid {
        grid-template-columns: 1fr; /* Change to 1 column on very small screens */
    }
}


/* Media query for mobile */
@media (max-width: 768px) {
    .pdf-container {
        padding-top: 10px; /* Reduce padding for mobile */
        padding-bottom: 10px;
    }

    .pdf-container iframe {
        width: 90%; /* Adjust the width for mobile */
        height: auto; /* Ensures height scales with width */
    }
}
